In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
!wget https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/e186636d099c5d032901dfaf5db68852/matches.csv
!wget https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/6f3085efd6250aa3c886059677871a29/deliveries.csv

--2023-08-11 17:12:44--  https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/e186636d099c5d032901dfaf5db68852/matches.csv
Resolving hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)... 54.231.161.49, 3.5.29.109, 52.216.245.44, ...
Connecting to hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)|54.231.161.49|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 139754 (136K) [binary/octet-stream]
Saving to: ‘matches.csv.3’

matches.csv.3       100%[===================>] 136.48K  --.-KB/s    in 0.08s

2023-08-11 17:12:44 (1.62 MB/s) - ‘matches.csv.3’ saved [139754/139754]

--2023-08-11 17:12:44--  https://hr-projects-assets-prod.s3.amazonaws.com/lrpqaeb14h/6f3085efd6250aa3c886059677871a29/deliveries.csv
Resolving hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)... 54.231.161.49, 3.5.29.109, 52.216.245.44, ...
Connecting to hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)|54.231.161.49|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18235327 (17M) [binary/octet-stream]
Saving to: ‘deliveries.csv.3’

deliveries.csv.3    100%[===================>]  17.39M  46.5MB/s    in 0.4s

2023-08-11 17:12:45 (46.5 MB/s) - ‘deliveries.csv.3’ saved [18235327/18235327]

In [3]:
deli = pd.read_csv('./deliveries.csv')
matche = pd.read_csv('./matches.csv')

In [4]:
matche.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",Anil Dandekar,Nigel Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

#1. In IPL many players have registered their mark by giving amazing performances consisitently.

From the given datasets-

-Get Suresh Raina's individual scores from each match from the seasons 2008,2010,2011,2012,2013,2015 and
2019 respectively.

-Now get Suresh Raina's individual scores from each match in home city(Chennai) and individual scores from away cities((i.e) other than Chennai).

-Now,create a random sample of 20 data with seed value of 2.

-From the sample data sets perform t-test(paired) on individual runs scored by raina on home city and in
away cities

-Print the p-value

In [6]:
seasons = [2008,2010,2011,2012,2013,2015]
seasons_match_ids_home = matche[(matche.season.isin(seasons)) & (matche.city == 'Chennai')].id.values.tolist()
seasons_match_ids_away = matche[(matche.season.isin(seasons)) & (matche.city != 'Chennai')].id.values.tolist()

In [7]:
relevant_deli_home = deli[deli.match_id.isin(seasons_match_ids_home) & (deli.batsman ==  'SK Raina')]
relevant_deli_away = deli[deli.match_id.isin(seasons_match_ids_away) & (deli.batsman ==  'SK Raina')]

In [8]:
relevant_deli_home_runs = relevant_deli_home.groupby('match_id').batsman_runs.sum().values.tolist()
relevant_deli_away_runs = relevant_deli_away.groupby('match_id').batsman_runs.sum().values.tolist()

In [9]:
import random
random.seed(2)
relevant_deli_home_runs_sample = random.sample(relevant_deli_home_runs, 20)
relevant_deli_away_runs_sample = random.sample(relevant_deli_away_runs, 20)

In [10]:
import scipy.stats as stats
t_stat, p_val = stats.ttest_ind(relevant_deli_away_runs_sample, relevant_deli_home_runs_sample)
print('t_test_statistics is',round(t_stat,2))
print('p_value is', round(p_val,2))

t_test_statistics is 0.24
p_value is 0.81

#2. In IPL strike rate is important where batsman having higher strike rate helps team to get more runs.

From the given datasets-


-Get Rohit Sharma's individual strike rates from each match where he played for Mumbai Indians.

-Now from the above data get Rohit Sharma's individual strike rates in home city(Mumbai) and individual  
strike rates from away cities((i.e) other than Mumbai).

-Now, create a random sample of 20 data with seed value of 2.

-From the sample data sets perform t-test(paired) on individual runs scored by rohit on home city and in     
away cities

-Formula for calculating strike rate - (batsmen runs/ball faced)*100

-Print p value

In [11]:
relevant_match_ids = list(set(deli[(deli.batsman=='RG Sharma') & (deli.batting_team=='Mumbai Indians')].match_id.values.tolist()))

relevant_matches_home = matche[(matche.id.isin(relevant_match_ids)) & (matche.city=="Mumbai")].id.values.tolist()
relevant_matches_away = matche[(matche.id.isin(relevant_match_ids)) & (matche.city!="Mumbai")].id.values.tolist()

In [12]:
relevant_matches_home_deli = deli[(deli.match_id.isin(relevant_matches_home)) & (deli.batsman == 'RG Sharma')]
relevant_matches_away_deli = deli[(deli.match_id.isin(relevant_matches_away)) & (deli.batsman == 'RG Sharma')]

In [13]:
home_match_balls_faced = relevant_matches_home_deli.groupby('match_id').batsman.count().values.tolist()
home_match_runs_scored = relevant_matches_home_deli.groupby('match_id').batsman_runs.sum().values.tolist()

away_match_balls_faced = relevant_matches_away_deli.groupby('match_id').batsman.count().values.tolist()
away_match_runs_scored = relevant_matches_away_deli.groupby('match_id').batsman_runs.sum().values.tolist()

In [14]:
home_sr = [ round(((home_match_runs_scored[i]/home_match_balls_faced[i])*100),2) for i in range(len(home_match_balls_faced))]
away_sr = [ round(((away_match_runs_scored[i]/away_match_balls_faced[i])*100),2) for i in range(len(away_match_balls_faced))]

In [15]:
import random
random.seed(2)
home_sr_sample = random.sample(home_sr, 20)
away_sr_sample = random.sample(away_sr, 20)

t_stat, p_val = stats.ttest_ind(home_sr_sample, away_sr_sample)
print('t_test_statistics is',round(t_stat,2))
print('p_value is', round(p_val,2))

t_test_statistics is -0.97
p_value is 0.34

## 3.In IPL runs scored while batting first is always different from batting second and vice versa.

From the given datasets-

-Get individual team scores of overall matches from each match by innings.

-From the above data select only first innings from all the matches.

-Now,from the above data set create a random sample of 200 data with seed value of 2

-Now,calculate the confidence interval range of the score having 95% confidence.

-Convert the minimum and maximum confidence interval into integer.
​

In [16]:
indteaminng_df=deli.groupby(['match_id','inning'])['total_runs'].agg(['sum']).reset_index()
indteaminng_df=indteaminng_df[indteaminng_df['inning']==1]

dfinte=indteaminng_df['sum'].sample(n=200, random_state=2).reset_index()
mean, sigma = np.mean(dfinte['sum']), np.std(dfinte['sum'])


min = stats.norm.interval(0.95, loc=mean, scale=sigma)[0]
max = stats.norm.interval(0.95, loc=mean, scale=sigma)[1]
print("min",round(min,2))
print("max",round(max,2))

min 109.72
max 218.55

# 4.In IPL different teams created impact by their performances.

From the given dataset-

-Get individual team scores of overall matches from each match by innings.

-From the above data select only team scores of teams Chennai Super Kings,Kolkata Knight Riders and Mumbai Indians of overall matches from each match by innings.

-From the above data select only first innings from all the matches.

-Now, create a random sample of 100 data with seed value of 2.

-From the sample data set perform one way anova test on the above teams and team scores scored by them on
each match.

-print p value

In [17]:
indteaminngbat_df=deli.groupby(['match_id','inning','batting_team'])['total_runs'].agg(['sum']).reset_index()
indteaminngbat_df=indteaminngbat_df[(indteaminngbat_df['batting_team']=='Chennai Super Kings') | (indteaminngbat_df['batting_team']=='Mumbai Indians') | (indteaminngbat_df['batting_team']=='Kolkata Knight Riders')]
indteaminngbat_df=indteaminngbat_df[indteaminngbat_df['inning']==1]
dfindteaminngbat_df=indteaminngbat_df.sample(n=100, random_state=2).reset_index()

chndf=dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Chennai Super Kings']
p_value = stats.f_oneway(dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Chennai Super Kings']['sum'], dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Mumbai Indians']['sum'], dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Kolkata Knight Riders']['sum'])[1]
print(p_value)

0.3694414715740236

# 5.In IPL different teams created impact by their performances.

From the given dataset-

-Get individual team scores of overall matches from each match by innings.

-From the above data select only team scores of teams Chennai Super Kings,Kolkata Knight Riders and Mumbai Indians of overall matches from each match by innings.

-From the above data select only second innings from all the matches.

-Now,create a random sample of 100 data with seed value of 2.

-From the sample data set perform one way anova test on the above teams and team scores scored by them on  
each match.

-print p value

In [18]:
indteaminngbat_df=deli.groupby(['match_id','inning','batting_team'])['total_runs'].agg(['sum']).reset_index()
indteaminngbat_df=indteaminngbat_df[(indteaminngbat_df['batting_team']=='Chennai Super Kings') | (indteaminngbat_df['batting_team']=='Mumbai Indians') | (indteaminngbat_df['batting_team']=='Kolkata Knight Riders')]
indteaminngbat_df=indteaminngbat_df[indteaminngbat_df['inning']==2]
dfindteaminngbat_df=indteaminngbat_df.sample(n=100, random_state=2).reset_index()

chndf=dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Chennai Super Kings']
p_value = stats.f_oneway(dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Chennai Super Kings']['sum'], dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Mumbai Indians']['sum'], dfindteaminngbat_df[dfindteaminngbat_df['batting_team']=='Kolkata Knight Riders']['sum'])[1]
print(p_value)

0.16072720791891887